<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>card_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,362},{88,118}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{88,118}}</string>
                <key>sourceSize</key>
                <string>{92,128}</string>
            </dict>
            <key>card_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,362},{88,118}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{88,118}}</string>
                <key>sourceSize</key>
                <string>{92,128}</string>
            </dict>
            <key>card_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,242},{88,118}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{88,118}}</string>
                <key>sourceSize</key>
                <string>{92,128}</string>
            </dict>
            <key>card_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,242},{88,118}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{88,118}}</string>
                <key>sourceSize</key>
                <string>{92,128}</string>
            </dict>
            <key>card_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,482},{88,118}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{88,118}}</string>
                <key>sourceSize</key>
                <string>{92,128}</string>
            </dict>
            <key>card_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,362},{88,118}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{88,118}}</string>
                <key>sourceSize</key>
                <string>{92,128}</string>
            </dict>
            <key>card_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,122},{88,118}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{88,118}}</string>
                <key>sourceSize</key>
                <string>{92,128}</string>
            </dict>
            <key>card_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,122},{88,118}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{88,118}}</string>
                <key>sourceSize</key>
                <string>{92,128}</string>
            </dict>
            <key>card_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,242},{88,118}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{88,118}}</string>
                <key>sourceSize</key>
                <string>{92,128}</string>
            </dict>
            <key>card_0A.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,482},{88,118}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{88,118}}</string>
                <key>sourceSize</key>
                <string>{92,128}</string>
            </dict>
            <key>card_0B.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,362},{88,118}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{88,118}}</string>
                <key>sourceSize</key>
                <string>{92,128}</string>
            </dict>
            <key>card_0C.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,2},{88,118}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{88,118}}</string>
                <key>sourceSize</key>
                <string>{92,128}</string>
            </dict>
            <key>card_0D.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,2},{88,118}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{88,118}}</string>
                <key>sourceSize</key>
                <string>{92,128}</string>
            </dict>
            <key>card_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,122},{88,118}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{88,118}}</string>
                <key>sourceSize</key>
                <string>{92,128}</string>
            </dict>
            <key>card_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,242},{88,118}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{88,118}}</string>
                <key>sourceSize</key>
                <string>{92,128}</string>
            </dict>
            <key>card_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,482},{88,118}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{88,118}}</string>
                <key>sourceSize</key>
                <string>{92,128}</string>
            </dict>
            <key>card_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,362},{88,118}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{88,118}}</string>
                <key>sourceSize</key>
                <string>{92,128}</string>
            </dict>
            <key>card_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,2},{88,118}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{88,118}}</string>
                <key>sourceSize</key>
                <string>{92,128}</string>
            </dict>
            <key>card_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,122},{88,118}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{88,118}}</string>
                <key>sourceSize</key>
                <string>{92,128}</string>
            </dict>
            <key>card_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,242},{88,118}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{88,118}}</string>
                <key>sourceSize</key>
                <string>{92,128}</string>
            </dict>
            <key>card_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,482},{88,118}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{88,118}}</string>
                <key>sourceSize</key>
                <string>{92,128}</string>
            </dict>
            <key>card_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,362},{88,118}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{88,118}}</string>
                <key>sourceSize</key>
                <string>{92,128}</string>
            </dict>
            <key>card_1A.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,2},{88,118}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{88,118}}</string>
                <key>sourceSize</key>
                <string>{92,128}</string>
            </dict>
            <key>card_1B.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,122},{88,118}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{88,118}}</string>
                <key>sourceSize</key>
                <string>{92,128}</string>
            </dict>
            <key>card_1C.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,242},{88,118}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{88,118}}</string>
                <key>sourceSize</key>
                <string>{92,128}</string>
            </dict>
            <key>card_1D.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,482},{88,118}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{88,118}}</string>
                <key>sourceSize</key>
                <string>{92,128}</string>
            </dict>
            <key>card_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,362},{88,118}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{88,118}}</string>
                <key>sourceSize</key>
                <string>{92,128}</string>
            </dict>
            <key>card_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,2},{88,118}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{88,118}}</string>
                <key>sourceSize</key>
                <string>{92,128}</string>
            </dict>
            <key>card_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,122},{88,118}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{88,118}}</string>
                <key>sourceSize</key>
                <string>{92,128}</string>
            </dict>
            <key>card_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,242},{88,118}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{88,118}}</string>
                <key>sourceSize</key>
                <string>{92,128}</string>
            </dict>
            <key>card_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,482},{88,118}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{88,118}}</string>
                <key>sourceSize</key>
                <string>{92,128}</string>
            </dict>
            <key>card_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,362},{88,118}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{88,118}}</string>
                <key>sourceSize</key>
                <string>{92,128}</string>
            </dict>
            <key>card_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,2},{88,118}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{88,118}}</string>
                <key>sourceSize</key>
                <string>{92,128}</string>
            </dict>
            <key>card_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,122},{88,118}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{88,118}}</string>
                <key>sourceSize</key>
                <string>{92,128}</string>
            </dict>
            <key>card_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,242},{88,118}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{88,118}}</string>
                <key>sourceSize</key>
                <string>{92,128}</string>
            </dict>
            <key>card_2A.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,482},{88,118}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{88,118}}</string>
                <key>sourceSize</key>
                <string>{92,128}</string>
            </dict>
            <key>card_2B.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,362},{88,118}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{88,118}}</string>
                <key>sourceSize</key>
                <string>{92,128}</string>
            </dict>
            <key>card_2C.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{88,118}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{88,118}}</string>
                <key>sourceSize</key>
                <string>{92,128}</string>
            </dict>
            <key>card_2D.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,122},{88,118}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{88,118}}</string>
                <key>sourceSize</key>
                <string>{92,128}</string>
            </dict>
            <key>card_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,242},{88,118}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{88,118}}</string>
                <key>sourceSize</key>
                <string>{92,128}</string>
            </dict>
            <key>card_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,482},{88,118}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{88,118}}</string>
                <key>sourceSize</key>
                <string>{92,128}</string>
            </dict>
            <key>card_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,362},{88,118}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{88,118}}</string>
                <key>sourceSize</key>
                <string>{92,128}</string>
            </dict>
            <key>card_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{88,118}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{88,118}}</string>
                <key>sourceSize</key>
                <string>{92,128}</string>
            </dict>
            <key>card_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,122},{88,118}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{88,118}}</string>
                <key>sourceSize</key>
                <string>{92,128}</string>
            </dict>
            <key>card_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,242},{88,118}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{88,118}}</string>
                <key>sourceSize</key>
                <string>{92,128}</string>
            </dict>
            <key>card_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,482},{88,118}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{88,118}}</string>
                <key>sourceSize</key>
                <string>{92,128}</string>
            </dict>
            <key>card_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{88,118}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{88,118}}</string>
                <key>sourceSize</key>
                <string>{92,128}</string>
            </dict>
            <key>card_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{88,118}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{88,118}}</string>
                <key>sourceSize</key>
                <string>{92,128}</string>
            </dict>
            <key>card_3A.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,122},{88,118}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{88,118}}</string>
                <key>sourceSize</key>
                <string>{92,128}</string>
            </dict>
            <key>card_3B.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{88,118}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{88,118}}</string>
                <key>sourceSize</key>
                <string>{92,128}</string>
            </dict>
            <key>card_3C.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{88,118}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{88,118}}</string>
                <key>sourceSize</key>
                <string>{92,128}</string>
            </dict>
            <key>card_3D.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{88,118}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{88,118}}</string>
                <key>sourceSize</key>
                <string>{92,128}</string>
            </dict>
            <key>card_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{88,118}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{88,118}}</string>
                <key>sourceSize</key>
                <string>{92,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>card.png</string>
            <key>size</key>
            <string>{992,602}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:abaafc1840b67aab58c6f9fc519d3268:1e85f28521a499b970fa3f2b71466cf6:ac15c2787776c146127be3982bd2a622$</string>
            <key>textureFileName</key>
            <string>card.png</string>
        </dict>
    </dict>
</plist>
