<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CommDialog/btn_close_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,879},{75,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,76}}</string>
                <key>sourceSize</key>
                <string>{75,76}</string>
            </dict>
            <key>CommDialog/btn_comm1_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,1440},{224,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,76}}</string>
                <key>sourceSize</key>
                <string>{224,76}</string>
            </dict>
            <key>CommDialog/btn_comm2_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,1362},{224,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,76}}</string>
                <key>sourceSize</key>
                <string>{224,76}</string>
            </dict>
            <key>CommDialog/frame_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{816,543}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{816,543}}</string>
                <key>sourceSize</key>
                <string>{818,543}</string>
            </dict>
            <key>CommDialog/frame_sub.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,547},{780,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{780,330}}</string>
                <key>sourceSize</key>
                <string>{780,330}</string>
            </dict>
            <key>GameCard/BG_FAILED.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,1151},{151,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,209}}</string>
                <key>sourceSize</key>
                <string>{151,209}</string>
            </dict>
            <key>GameCard/BG_FAILED_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,998},{151,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,209}}</string>
                <key>sourceSize</key>
                <string>{151,209}</string>
            </dict>
            <key>GameCard/BG_GRAY.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,1151},{151,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,209}}</string>
                <key>sourceSize</key>
                <string>{151,209}</string>
            </dict>
            <key>GameCard/SELECTED.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,957},{147,203}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{147,203}}</string>
                <key>sourceSize</key>
                <string>{151,209}</string>
            </dict>
            <key>GameCard/card_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,1151},{151,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,209}}</string>
                <key>sourceSize</key>
                <string>{151,209}</string>
            </dict>
            <key>GameCard/card_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,998},{151,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,209}}</string>
                <key>sourceSize</key>
                <string>{151,209}</string>
            </dict>
            <key>GameCard/card_black_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,1358},{46,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>GameCard/card_black_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,1494},{34,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,48}}</string>
                <key>sourceSize</key>
                <string>{34,48}</string>
            </dict>
            <key>GameCard/card_black_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,957},{34,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,50}}</string>
                <key>sourceSize</key>
                <string>{34,50}</string>
            </dict>
            <key>GameCard/card_black_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,901},{38,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,48}}</string>
                <key>sourceSize</key>
                <string>{38,48}</string>
            </dict>
            <key>GameCard/card_black_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,1444},{34,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,48}}</string>
                <key>sourceSize</key>
                <string>{34,48}</string>
            </dict>
            <key>GameCard/card_black_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,1523},{34,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,50}}</string>
                <key>sourceSize</key>
                <string>{34,50}</string>
            </dict>
            <key>GameCard/card_black_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,1408},{34,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,48}}</string>
                <key>sourceSize</key>
                <string>{34,48}</string>
            </dict>
            <key>GameCard/card_black_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,1128},{36,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,50}}</string>
                <key>sourceSize</key>
                <string>{36,50}</string>
            </dict>
            <key>GameCard/card_black_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,1523},{34,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,50}}</string>
                <key>sourceSize</key>
                <string>{34,50}</string>
            </dict>
            <key>GameCard/card_black_0A.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,988},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>GameCard/card_black_0B.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,1274},{32,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,48}}</string>
                <key>sourceSize</key>
                <string>{32,48}</string>
            </dict>
            <key>GameCard/card_black_0C.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,1041},{42,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,52}}</string>
                <key>sourceSize</key>
                <string>{42,52}</string>
            </dict>
            <key>GameCard/card_black_0D.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,454},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>GameCard/card_red_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,1040},{46,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>GameCard/card_red_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,1308},{34,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,48}}</string>
                <key>sourceSize</key>
                <string>{34,48}</string>
            </dict>
            <key>GameCard/card_red_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,1238},{34,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,50}}</string>
                <key>sourceSize</key>
                <string>{34,50}</string>
            </dict>
            <key>GameCard/card_red_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,935},{38,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,48}}</string>
                <key>sourceSize</key>
                <string>{38,48}</string>
            </dict>
            <key>GameCard/card_red_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,1259},{34,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,48}}</string>
                <key>sourceSize</key>
                <string>{34,48}</string>
            </dict>
            <key>GameCard/card_red_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,1202},{34,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,50}}</string>
                <key>sourceSize</key>
                <string>{34,50}</string>
            </dict>
            <key>GameCard/card_red_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,957},{34,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,48}}</string>
                <key>sourceSize</key>
                <string>{34,48}</string>
            </dict>
            <key>GameCard/card_red_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,1090},{36,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,50}}</string>
                <key>sourceSize</key>
                <string>{36,50}</string>
            </dict>
            <key>GameCard/card_red_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,1166},{34,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,50}}</string>
                <key>sourceSize</key>
                <string>{34,50}</string>
            </dict>
            <key>GameCard/card_red_0A.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,1041},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>GameCard/card_red_0B.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,1540},{32,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,48}}</string>
                <key>sourceSize</key>
                <string>{32,48}</string>
            </dict>
            <key>GameCard/card_red_0C.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,1106},{42,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,52}}</string>
                <key>sourceSize</key>
                <string>{42,52}</string>
            </dict>
            <key>GameCard/card_red_0D.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,1518},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>GameCard/card_small_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,466},{56,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,68}}</string>
                <key>sourceSize</key>
                <string>{56,68}</string>
            </dict>
            <key>GameCard/card_tag_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,1276},{80,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,91}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>GameCard/card_tag_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,1457},{90,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,93}}</string>
                <key>sourceSize</key>
                <string>{90,93}</string>
            </dict>
            <key>GameCard/card_tag_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,904},{82,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,77}}</string>
                <key>sourceSize</key>
                <string>{82,77}</string>
            </dict>
            <key>GameCard/card_tag_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,1358},{88,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,97}}</string>
                <key>sourceSize</key>
                <string>{88,97}</string>
            </dict>
            <key>GameCard/card_tag_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,942},{97,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,90}}</string>
                <key>sourceSize</key>
                <string>{97,90}</string>
            </dict>
            <key>GameCard/card_tag_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,773},{93,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,102}}</string>
                <key>sourceSize</key>
                <string>{93,102}</string>
            </dict>
            <key>GameCard/card_wangtag_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,734},{31,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,164}}</string>
                <key>sourceSize</key>
                <string>{31,164}</string>
            </dict>
            <key>GameCard/card_wangtag_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1540},{31,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,164}}</string>
                <key>sourceSize</key>
                <string>{31,164}</string>
            </dict>
            <key>GameClock/clock01.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,1440},{108,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,105}}</string>
                <key>sourceSize</key>
                <string>{108,105}</string>
            </dict>
            <key>GameClock/clock02.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,1440},{108,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,105}}</string>
                <key>sourceSize</key>
                <string>{108,105}</string>
            </dict>
            <key>GameClock/clock03.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,1440},{108,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,105}}</string>
                <key>sourceSize</key>
                <string>{108,105}</string>
            </dict>
            <key>GameMenu/item_deposite_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,734},{165,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,52}}</string>
                <key>sourceSize</key>
                <string>{165,52}</string>
            </dict>
            <key>GameMenu/item_deposite_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,1494},{165,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,52}}</string>
                <key>sourceSize</key>
                <string>{165,52}</string>
            </dict>
            <key>GameMenu/item_deposite_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,1440},{165,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,52}}</string>
                <key>sourceSize</key>
                <string>{165,52}</string>
            </dict>
            <key>GameMenu/item_exit_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,734},{168,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,48}}</string>
                <key>sourceSize</key>
                <string>{168,48}</string>
            </dict>
            <key>GameMenu/item_exit_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,1106},{168,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,48}}</string>
                <key>sourceSize</key>
                <string>{168,48}</string>
            </dict>
            <key>GameMenu/item_exit_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,1518},{168,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,48}}</string>
                <key>sourceSize</key>
                <string>{168,48}</string>
            </dict>
            <key>GameMenu/item_setting_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,1358},{163,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,48}}</string>
                <key>sourceSize</key>
                <string>{163,48}</string>
            </dict>
            <key>GameMenu/item_setting_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,1358},{163,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,48}}</string>
                <key>sourceSize</key>
                <string>{163,48}</string>
            </dict>
            <key>GameMenu/item_setting_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,1358},{163,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,48}}</string>
                <key>sourceSize</key>
                <string>{163,48}</string>
            </dict>
            <key>GameMenu/menu_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,998},{217,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,202}}</string>
                <key>sourceSize</key>
                <string>{217,202}</string>
            </dict>
            <key>btn_back_plaza.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,1362},{224,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,76}}</string>
                <key>sourceSize</key>
                <string>{224,76}</string>
            </dict>
            <key>btn_back_plaza_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,547},{224,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,76}}</string>
                <key>sourceSize</key>
                <string>{224,76}</string>
            </dict>
            <key>btn_continue_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,1202},{224,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,76}}</string>
                <key>sourceSize</key>
                <string>{224,76}</string>
            </dict>
            <key>btn_exit_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,879},{224,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,76}}</string>
                <key>sourceSize</key>
                <string>{224,76}</string>
            </dict>
            <key>btn_menu_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,877},{72,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,63}}</string>
                <key>sourceSize</key>
                <string>{72,63}</string>
            </dict>
            <key>btn_stop_trustee_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,228},{224,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,76}}</string>
                <key>sourceSize</key>
                <string>{224,76}</string>
            </dict>
            <key>btn_stop_trustee_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,2},{224,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,76}}</string>
                <key>sourceSize</key>
                <string>{224,76}</string>
            </dict>
            <key>clock_progress.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1202},{168,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,242}}</string>
                <key>sourceSize</key>
                <string>{168,242}</string>
            </dict>
            <key>dist_anim_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,2},{462,54}}</string>
                <key>offset</key>
                <string>{-29,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{462,54}}</string>
                <key>sourceSize</key>
                <string>{520,54}</string>
            </dict>
            <key>dist_anim_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,879},{492,54}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{492,54}}</string>
                <key>sourceSize</key>
                <string>{520,54}</string>
            </dict>
            <key>dist_anim_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,2},{520,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{520,54}}</string>
                <key>sourceSize</key>
                <string>{520,54}</string>
            </dict>
            <key>input_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,935},{449,61}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{449,61}}</string>
                <key>sourceSize</key>
                <string>{451,65}</string>
            </dict>
            <key>jetton_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,1523},{38,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,32}}</string>
                <key>sourceSize</key>
                <string>{38,32}</string>
            </dict>
            <key>match_info_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1446},{222,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,92}}</string>
                <key>sourceSize</key>
                <string>{222,92}</string>
            </dict>
            <key>pic_banker_flag.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,1309},{47,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,48}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>pic_head_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,1232},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,124}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>pic_head_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,1106},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,124}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>pic_smallhead_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,1177},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>pic_smallhead_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,1095},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>user_info_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,524},{134,208}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{134,208}}</string>
                <key>sourceSize</key>
                <string>{146,218}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameComm.png</string>
            <key>size</key>
            <string>{1019,1574}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0cd822554653c455c5f84b084da64702:e1cac8c943edc63fd85f6de549c4641b:0f5bf3b1199c7715ae422b5ea15c7e5d$</string>
            <key>textureFileName</key>
            <string>GameComm.png</string>
        </dict>
    </dict>
</plist>
